<html>
	<head>
		<title>Créer un commentaire</title>
	</head>
	<body>
		<h1>Créé un commentaire pour le potin N° <%=id_gossip %> !</h1>
		<p>Lâche un commentaire !</p>
		<form action = '/gossips/<%=id_gossip %>/comment/' method='POST'>
			Lâche ton plus gros commentaire :
			<br /><textarea type='text' name='gossip_comment'></textarea><br />
			<input type='submit' />
			</form>
	</body>
</html>